.cardContainer {
    max-width: 200px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Importante: evita que el contenido se salga */
    padding: 10px;
    min-height: 270px;
    display: flex;
    flex-direction: column;
}

.cardContainer img {
    width: 100%; /* La imagen ocupa todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción */
    display: block; /* Elimina espacio extra debajo de la imagen */
    border-radius: 4px;
    padding-bottom: 10px;
}

h4{
    margin-bottom: 5px;
}

.precio{
    margin-top: auto;
}